[submodule "Weasel/vendor/spdlog"]
	path = Weasel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Weasel/vendor/GLFW"]
	path = Weasel/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
